# Binaries
bin
obj

# CMake files
.idea

# User config files
*.sln.DotSettings.user

# Unity Files (ignore whole project except for certain files and folders)
/Resources/*
!/Resources/Assets
/Resources/Assets/Bundle/*
!/Resources/ProjectSettings
!/Resources/bundleassets.cmd

# Keep the gitkeep files (bundling script requires the folder)
!.gitkeep