# Binaries
bin
obj
target

# Editor files
.idea
.vscode
.vs

# User config files
*.sln.DotSettings.user

# Resources are stored in a Unity project
# (ignore the whole project except for certain files and folders)
res/[Ll]ibrary
res/[Pp]ackages
res/[Ll]ogs
res/[Tt]emp
res/[Uu]ser[Ss]ettings

res/Assets/Bundle/*
!res/Assets/Bundle/menurerender.bundle
!res/Assets/Bundle/menurerender.bundle.manifest