# Binaries
bin
obj

# JetBrains
.idea

# VS Code
.vscode

# User config files
*.sln.DotSettings.user

# Unity Files (ignore whole project except for certain files and folders)
/Resources/*
!/Resources/Assets
/Resources/Assets/Bundle/*
!/Resources/ProjectSettings
!/Resources/bundleassets.ps1
!/Resources/bundleassets.sh

# Keep the gitkeep files (bundling script requires the folder)
!.gitkeep